<h1>Books</h1>

<% @books.each do |book| %>
  <p>Title</p>
  <span><%= book.title =%></span>
  <p>Body</p>
  <span><%= book.body =%></span>
  
  <p><%= link_to 'Show',"/books/show" =%></p>
  <p><%= link_to 'Edit',"/books/edit" =%></p>
  <!--Destroy-->

<% end %> 